/*body,html{
  overflow-x: hidden !important;
} */

 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header{
 background-color:#000;
}
/*////////////////////////////////Globales////////*/

.fondo{
  margin-bottom:0px !important;
}

.bold{
  font-weight:bold!important;
}

.fuente-a{
  font-family: 'Source Sans Pro', sans-serif !important;
}
.fuente-b{
  font-family: 'Libre Baskerville', serif !important;
}
/*///////////Menu/////////////*/

.site-header .site-branding .legacy-logo{
  display:block;
  max-width:100%;
  margin:20px auto;
}

.site-header .navegador .menu-main-container #primary-menu li{
 /* padding: 0px 25px 0px 25px;*/
  padding:0 56px 0 56px; /*Actualizar en SASS*/
  height: 40px !important;
  border-right: 1px solid #fff;
}

ul.menu li > a {
  line-height: 40px !important;
  display: block;
}

.site-header .navegador .menu-main-container .menu li:last-child{
  border-right: none;
}


.site-header .navegador .menu-main-container .menu a{
  vertical-align:text-top !important;
  color:#fff;
  font-weight:bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-header .navega{
  margin-top:40px;
  margin-bottom: 0px !important;
  width:1077px;
}

.site-header .navega .navegador .button-collapse{
  color:#fff !important;
}

.site-header .navega .navegador .menu-main-container .menu a:hover,
.site-header .navega .navegador .menu-main-container .menu a:active,
.site-header .navega .navegador .menu-main-container .menu a:focus{
  color:#fff;
  text-decoration:underline;
}

.site-header .navega .navegador .menu-main-container .sub-menu{
  /*width:230px !important;
   left:190px !important;
  left:265px !important; */
  width: 250px !important;/*ACTUALIZAR EN SASS*/
    /* left: 190px !important; */
  left: 273px !important;/*ACTUALIZAR EN SASS*/
  height: auto;
  overflow: initial;
}

.site-header .navega .navegador .menu-main-container .menu-item-has-children .sub-menu li{
 margin-left:10px auto !important;
 padding:0px auto !important;

}

.site-header .navega .navegador .menu-main-container .menu-item-has-children .sub-menu a{
 font-size:13px;
 color:#000;
 line-height:16px!important;
 font-weight:bold;
 font-family: 'Source Sans Pro', sans-serif;
}

.site-header .navegador .menu-main-container .menu-item-has-children .sub-menu a:hover{
  background-color:transparent !important;  
}

.side-nav{
  padding-top: 50px;
}
/*////////////////Banner/////////////////*/|
.content-area .site-main .banner-home {
 /* background:url('../images/legacy-home.jpg'); */
 background-size:cover !important;
 background-position: center center !important;
 background-repeat:no-repeat !important;
 width:100% !important;
 height:500px;
}

.content-area .site-main .banner-home .bienvenida{
 padding-top:200px;
}
.content-area .site-main .banner-home .bienvenida h4{
  font-size:1.6rem;
  padding:40px;
  background-color:rgba(255, 255, 255, .8); 
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
  color:#4d4d4f;
}
.informa-reaccion{
  overflow-x: hidden;
}
/*/////////////////Nuestro servicio/////////////////*/
.content-area .site-main .nuestro-servicio{
  background-color:#f2f2f2 !important;
  padding:40px 0 40px 0;
}

.content-area .site-main .nuestro-servicio .servicio{
  padding:0px 25px 0px 25px;
}

.content-area .site-main .nuestro-servicio .servicio img{
 display:block;
 margin:10px auto; 
}

.content-area .site-main .nuestro-servicio h4{
  color: #08334b;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin:30px 0px 40px 0px;
}

.content-area .site-main .nuestro-servicio .servicio h5{
  text-align:center;
  border:1px solid #000;
  padding:10px;
  font-size:1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bold;
}

.content-area .site-main .nuestro-servicio .servicio p{

  text-align:center;
  font-size:1.1rem;
}
/*///////////////////////Informativo//////////////////////////////*/

.content-area .site-main .informativo h4{
  margin-top:50px;
  text-align:center;
  font-size:2.4rem;
  font-family: 'Libre Baskerville', serif;
  font-weight:400;
  margin:70px 0px 60px 0px;
}

.content-area .site-main .banner-info {
  /*background:url('../images/legacy-info.jpg'); */
  background-size:cover !important; 
  background-position: center center !important;
  background-repeat:no-repeat !important;
  width:100% !important;
  height:500px;
  margin-top:45px;
}

.content-area .site-main .banner-info-2 {
 /* background:url('../images/legacy-info2.jpg'); */
 background-size:cover !important;
 background-position: center center !important;
 background-repeat:no-repeat !important;
 width:100% !important;
 height:500px;
 margin-top:45px;
}

.content-area .site-main .banner-info-3 {
  /*background:url('../images/legacy-info3.jpg'); */
  background-size:cover !important;
  background-position: center center !important;
  background-repeat:no-repeat !important;
  width:100% !important;
  height:500px;
  margin-top:45px;
}

.content-area .site-main .info-texto{
 padding-top:200px;
}
.content-area .site-main  .info-texto h4{
  font-size:1.4rem;
  padding:40px;
  background-color:rgba(255, 255, 255, .8); 
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform:uppercase;

}

.content-area .site-main .informativo .informa-reaccion{
  /* background-color:#08334b;
   width:100% !important;*
   padding:15px 0px 15px 0px;*/
 }

 .content-area .site-main .informativo .informa-reaccion h5{
  background: #08334b;
  color:#fff;
  font-size: 1.5rem;
  line-height: 100px;
  margin: 10px 0px 10px 0px;
  padding: 2%;
  position: relative;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-area .site-main .informativo .informativo-dato{   
  clear:both;
  margin:75px 0px 60px 0px;
}


.content-area .site-main .informativo .informativo-dato img{   
  display:block;
  margin:20px auto;
}

.content-area .site-main .informativo .informativo-dato p{      
  padding: 0px 50px 0px 50px;
  font-size: 1.3rem;
  margin-top:10px;
  font-family: 'Source Sans Pro', sans-serif;
}

/*///////////////////////////Soluciones/////////////////////////////////*/ 
.content-area .site-main .soluciones{
  background-color:#f2f2f2 !important;
  padding:40px 0 40px 0;
}
.content-area .site-main .soluciones h4{
  color:#08334b;
  font-size:1.8rem;
  text-align:center;
  font-weight:bold;
}
.content-area .site-main .solucion{
  margin:15px 0px 15px 0px;

}
.content-area .site-main .soluciones .solucion .titulo{
  text-align:center;
  border:1px solid #000;
  padding:5px;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.content-area .site-main .soluciones .solucion .titulo:hover{
 cursor:pointer;
}
.content-area .site-main .soluciones .solucion .titulo h5{
  padding: 15px 5px 15px 5px;
  font-size:1rem;
  text-transform:uppercase;
  font-weight:bold;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;

}
.content-area .site-main .soluciones .solucion .contenido {
 border:1px solid #000;
 padding:10px;
 display:none;
}
/*
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
  transition: all 3s ease-in;*/
  .content-area .site-main .soluciones .solucion .contenido p{
    text-align:center;
    font-size:1rem;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .mini{
    padding:14px 5px 14px 5px !important;
  }
  /*/////////////////////footer/////////////////////////////////////////*/
  .legacy-footer .f-contacto h5{
   font-family: 'Libre Baskerville', serif;
 }
 .legacy-footer .sub-titulo{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}
/*///////////////////////////////////////////////NINJA FORM*/
.field-wrap > div input, .field-wrap textarea, .field-wrap select, .field-wrap .pikaday__container, .field-wrap .pikaday__display, .field-wrap .listselect-wrap > div {
    width: 100%;
    color: #fff !important;
}
.nf-response-msg{
  color:#fff !important;
}
/*/////////////////////////////////////////Fin Ninja Form*/
.legacy-footer .contacto .linea{
  width:100%;
  border:1px solid #fff;
}
.legacy-footer .contacto p{
 margin-bottom:0.8em !important;
}
.legacy-footer .f-contacto .send{
     margin: 10px 0px 10px 0px;
    color: #fff;
    padding: 15px;
    background-color: transparent;
    border: solid 1px #fff;
}
.nf-form-fields-required{
  padding-bottom:15px;
}

.legacy-footer .f-contacto .send:hover{
  color:#000 !important;
  background-color:#fff;
}

.footer-copyright{
  margin:5px 0px -15px 0px;
}

.footer-copyright img{
 display:inline-block;
 width:40px;
 height:40px;
}
.footer-copyright p{
 display:inline-block;
 color:#000;
 vertical-align:middle;
}
.footer-copyright .arriba{
  background-color:transparent;
  border:solid 1px #000;
  color:#000 !important;
  padding:10px;
}
.footer-copyright .arriba:hover{
  background-color:#000;
  color:#fff !important;
}
/*/////////////////footer form*/
/* label color */
.input-field label {
 color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #08334b;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #08334b;
 box-shadow: 0 1px 0 0 #08334b;
}
.input-field input[type=email]:focus + label {
 color: #08334b;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #08334b;
 box-shadow: 0 1px 0 0 #08334b;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
/*////////////////footer final-form*/
/*/////////////////////Quienes Somos/////////////////////////////*/
/****menu interno******/
.navegador-somos ul{
  text-align:center;
  margin:40px 0px 40px 0px;
}
.navegador-somos li{
  display:inline-block;
  margin-left:15px;
}
.navegador-somos a{
   background-color:transparent;
   color:#4d4d4f;
   border:solid 1px #4d4d4f;
   padding:15px;
   display:inline-block;
   font-weight: bold;
   font-size:1.4rem;
}
.navegador-somos a:hover{
  background-color:#4d4d4f;
  color:#fff;
}
/******fin menu interno******/


.content-area .site-main .banner-quien {
  /*background:url('../images/legacy-info3.jpg'); */
  background-size:cover !important;
  background-position: center center !important;
  background-repeat:no-repeat !important;
  width:100% !important;
  height:500px;
}
.content-area .site-main .quienes-a{
  background-color:#f2f2f2;
}
.content-area .site-main .quienes-a .quienes-somos{
  padding:60px 100px 0px 100px;

}

.content-area .site-main .quienes-a .quienes-somos h5{
 font-weight:bold;
 color:#4d4d4f;
 text-transform:uppercase;
 font-size:1.4rem;

}
.content-area .site-main .quienes-a .quienes-somos p{
  color:#4d4d4f;
  font-size:1.1rem;
}

.content-area .site-main  .quienes_img{
  padding:0px !important;
}

.content-area .site-main .flex-b .quienes_img img{
  max-width:100%;
  float:right;
}

/*//////////////////////Equipo////////////////////////////////////*/
.content-area .site-main .texto-equipo p{
  margin:50px;
  font-size:1.2rem;
  color:#4d4d4f;
}

/*////////////////////Servicios//////////////////////////////////////*/
.content-area .site-main .texto-imperativo .imperativo{
  background: #08334b;
  margin: 10px 0px 10px 0px;
  padding: 2%;
  position: relative;
}
.content-area .site-main .texto-imperativo .logo-servicio{
  display:block;
  margin:40px auto;
}
.content-area .site-main .texto-imperativo .imperativo .flex-b{
  display:flex;
  
  align-items:center;
}
.content-area .site-main .texto-imperativo .imperativo img{
  margin: 20px 0px 5px 0px;
}
.content-area .site-main .texto-imperativo .imperativo h5{
  color: #fff;
  font-size: 1.3rem;
  line-height: 35px;
  margin: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
/*//////////////////////////////Aliados///////////////////////////// /*/
.content-area .site-main .aliados-logo{
  background-color:#e9e9e9;
  padding:30px;
}
.content-area .site-main .aliados-logo img{
  display:block;
  margin:20px auto;
}
.content-area .site-main .secciones .texto-aliado h5{
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  margin:30px;
}
.content-area .site-main .secciones .texto-aliado p{
  text-align:center;
  margin:25px 0px 45px 0px ;
  font-size:1.2rem;
}
.content-area .site-main .secciones .texto-aliado .boton-aliado{
  margin:30px;
  text-align: center;
}
.content-area .site-main .secciones .texto-aliado a{
  background-color: transparent;
  border: solid 1px #000;
  color:#4d4d4f;
  padding: 15px;
  font-weight:bold;
}
.content-area .site-main .secciones .texto-aliado a:hover{
 background-color:#000;
 color:#fff;
}
/*//////////////////////////Noticias/////////////////////////*/

.content-area .site-main .noticias .noticia-articulo{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin:10px 0px 10px 0px;
}
.content-area .site-main .noticias .logo-noticias{
  display:block;
  margin:50px auto;
}
.noticias .linea {
  width: 100%;
  border: .6px solid #4d4d4f;
  margin-bottom:20px;
}
.content-area .site-main .noticias .noticia-articulo img{
  width:420px;
  height:354px;
  max-width:100%;
}
.content-area .site-main .noticias .info-noti{
  background-color:#f2f2f2;
  padding: 13px;
}
.content-area .site-main .noticias .info-noti h5{
  color:#4d4d4f;
  padding: 13px;
  font-weight:bold;
  font-size:1.2rem;
  text-transform:uppercase;
}
.content-area .site-main .noticias .info-noti .fecha{
  background-color:#08334b;
  color:#fff;
  padding: 13px;
  font-size:0.9rem;
}
.content-area .site-main .noticias .info-noti .summary{
  color:#4d4d4f;
  padding: 13px;
  font-size:0.9;
  margin-left:10px;
}
.content-area .site-main .noticias .info-noti .fuente{
  color:#4d4d4f;
  font-size: 0.9rem;
  margin-left: 25px;
}
.boton-full{
  margin:30px 25px 20px 20px;
}
.content-area .site-main .noticias .info-noti a{
  background-color: transparent;
  border: solid 1px #4d4d4f;
  color:#4d4d4f;
  padding: 15px;
  font-weight:bold;
}
.content-area .site-main .noticias .info-noti a:hover{
 background-color:#4d4d4f;
 color:#fff;
}
/*///////////////////////////Responsive//////////////////////////////*/
@media screen and (min-width: 1880px) {
  .content-area .site-main .banner-home {
    height:550px;
  }
  .content-area .site-main .banner-info {
    height:550px;
  }
}
@media screen and (max-width: 1110px) {
  /* STYLES HERE */
  .site-header .navega{
    width:890px;
  }
  .site-header .navegador .menu-main-container #primary-menu li {
    padding: 0px 10px 0px 10px;
    height: 40px !important;
    border-right: 1px solid #fff;
  }
  .navegador .nav-wrapper{
     margin: 0 auto;
    width: 64%;
  }
  .content-area .site-main .nuestro-servicio .servicio {
    padding: 0px 20px 0px 20px;
  }
  .legacy-footer .contacto  {
    margin-top:20px;
  }
  .legacy-footer .contacto p{
  }
  .content-area .site-main .quienes-a .quienes-somos {
    padding:5px 5px 0px 15px;
  }
  .content-area .site-main .noticias .noticia-articulo{
  flex-direction:column;
}
.content-area .site-main .noticias .noticia-articulo img{
  width:100%;
  height:100%;
  max-width:100%;
}
}

@media screen and (max-width: 1110px){
.site-header .navega {
    width: 100%!important;
}
}
@media screen and (max-device-width: 1110px){
.site-header .navega {
    width: 100%!important;
}
}
@media only screen and (max-width: 993px){
nav a.button-collapse {
    display:block !important;
}
  .navegador .nav-wrapper {
    margin: 0 auto;
    width: 100%;
}
}
@media screen and (max-width: 769px) {
 .site-header .navega{
  width:520px;
}
.container{
  width:92% !important;
}
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .site-header .navega{
    width:100%
  }
}

/*535*/
@media only screen and (max-width: 600px) {
  /*NUEVO*/

  /* STYLES HERE */
  .content-area .site-main .banner-home {
    height:350px;
  }
  .content-area .site-main .banner-quien {
    height:350px;
  }
  .content-area .site-main .banner-home .bienvenida{
   padding-top:100px;
 }
 .content-area .site-main .banner-info {
   height:350px;
 }
 .content-area .site-main .banner-info .info-texto{
   padding-top:100px;
 }
 .site-header .navega{
  width:100%;
}
.side-nav .dropdown-content {
  display: block;
  opacity: 1;
  position: static;
}
.site-header .navega .navegador .menu-main-container .sub-menu {
  width: 100%;
}
.content-area .site-main .informativo .informa-reaccion h5{   
  font-size: 1.2rem;
  line-height: 28px;
  padding:20px;
}
.content-area .site-main .informativo .informativo-dato p{      
  padding: 0px 20px 0px 20px;
}
.content-area .site-main .quienes-a{
  background-color:#f2f2f2;
}
.navegador-somos a{
  margin-top:15px;
}
.content-area .site-main .quienes-a .flex-b{
 display:flex;
 flex-direction:column;
 align-items: center;
 flex-direction:column-reverse;
}
.content-area .site-main .quienes-a .flex-b .quienes-somos h5{
  margin-top: 20px;
}
.content-area .site-main .texto-equipo p{
  margin:25px;
  font-size:1.2rem;
  color:#4d4d4f;
}
.content-area .site-main .texto-imperativo .imperativo .flex-b{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
.content-area .site-main .texto-imperativo .imperativo h5{
  font-size: 1.2rem;
  text-align: center;
}

}

